In [99]: odrv0.axis0.encoder.config
Out[99]:
abs_spi_cs_gpio_pin: 11 (uint16)
bandwidth: 500.0 (float)
calib_range: 0.019999999552965164 (float)
calib_scan_distance: 87.964599609375 (float)
calib_scan_omega: 12.566370964050293 (float)
cpr: 16384 (int32)
direction: 0 (int32)
enable_phase_interpolation: True (bool)
find_idx_on_lockin_only: False (bool)
hall_polarity: 0 (uint8)
hall_polarity_calibrated: False (bool)
ignore_illegal_hall_state: False (bool)
index_offset: 0.0 (float)
mode: 260 (uint16)
phase_offset: 0 (int32)
phase_offset_float: 0.0 (float)
pre_calibrated: False (bool)
sec_enc_cpr: 16384 (int32)
sincos_gpio_pin_cos: 4 (uint16)
sincos_gpio_pin_sin: 3 (uint16)
use_index: False (bool)
use_index_offset: True (bool)
